mlflow==2.19.0
kagglehub==0.3.6
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.2
matplotlib==3.9.2
seaborn==0.13.2
pillow==10.4.0
tensorflow==2.15.0
fastapi==0.115.6
uvicorn==0.34.0
python-multipart==0.0.20
prometheus-client==0.21.1
psutil==6.1.1
requests==2.32.3
